# Ignore node_modules
node_modules
Dockerfile

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore local development files
*.local
*.cache

# Ignore Docker-related files

docker-compose*
.dockerignore

# Ignore system files
.DS_Store
Thumbs.db